<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
            <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Management App</a>
        </div>
        <p style="font-size:1.1em">Hi {{user_name}},</p>
        <p>You have been invited by <b>{{admin_name}}</b> to join their team on Management App. Download the app and
            login using the following credentials. This is a temporary password. Change your password once logged in.
        </p>
        <p>Username: <b>{{profile_email}}</b>
            <br>Password: <b>{{password}}</b>
        </p>
        <p style="font-size:0.9em;">Regards,<br />Management</p>
        <hr style="border:none;border-top:1px solid #eee" />
    </div>
</div>